<p id="notice"><%= notice %></p>

<p>
  <strong>Offset:</strong>
  <%= @resource.offset %>
</p>

<p>
  <strong>City name:</strong>
  <%= @resource.city_name %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
