<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= render 'header' %>
  <div class = container>
    <body>
        <div id = "side-content-left">
            <%= render "glossary"%>
        </div>

        <div id = "side-content-right">
            <%= render "select_time_format", city: City %>
        </div>

        <div id = "main-content">
            <%= yield %>
        </div>
    </body>
  </div>
  <%= render 'footer'%>
</html>