<p id="notice"><%= notice %></p>

<h1>Selected City</h1>

<% if !@default.nil? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Time</th>
        <th>Time Status </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @default.name.upcase %></td>
          <td><%= @default.display_time @enable_standard_format %></td>
          <td><%= @default.time_status %>
        </tr>
    </tbody>
  </table>
<% end %>
<%= render 'select_city', possible_options: @selectable_cities %>
<%= render 'select_time_format'%>
<%# get_possible_cities %>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Time Status</th>
      <th>Time Difference</th>
      <th>Day status </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <% if !city.default %>
          <td><%= city.name.upcase %></td>
          <td><%= city.display_time @enable_standard_format %></td>
          <td><%= city.time_status %></td>
          <td><%= city.time_difference.to_s %> hours </td>
          <td><%= city.day_status %> </td>
          <td><%= link_to 'Show', city %></td>
          <td><%= link_to 'Edit', edit_city_path(city) %></td>
          <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'search_city' %>

<%= link_to 'New City', new_city_path %>
