  <h1> Clock+ </h1>
  <h4> By Tristan Macaulay s3784828 - highest level attempted = distinction </h4>
 
  <% if !@default.nil? %>
    <Table style = "width: 50%; margin-bottom: 0px;" cellspacing = "0" cellpadding = "0">
      <colgroup>
        <col span="1" style="width: 40%">
        <col span="1" style="width: 35%">
        <col span="1" style="width: 25%">
      </colgroup>

          <tr>
            <td>
              <%= render 'select_city', possible_options: @selectable_cities %>
            </td>
            <td>
              <span><h2><%= @default.name.upcase %></h2></span>
            </td>
            <td><h3><%= @default.display_time @enable_standard_format %></h3></td>
          </tr>

    </table>
  <% end %>

  <Table style = "width: 50%; margin-bottom: 30px;" cellspacing = "0" cellpadding = "0">

    <colgroup>
      <col span="1" style="width: 50%;">
      <col span="1" style="width: 30%">
      <col span="1" style="width: 10%">
      <col span="1" style="width: 10%">
    </colgroup>

    <% @cities.each do |city| %>
    
      <tr>
        <% if !city.default %>
          <td>
            <span><h2><%= city.name.upcase %></h2></span>
            <span><h5><%= city.day_status %></h5></span>
          </td>
          <td>
            <span><h3><%= city.display_time @enable_standard_format%></h3></span>
            <span><h5><%= city.time_difference.to_s %><h5></span>
          </td>
          <td> 
            <% if city.time_status == "Buisness Time"%>
              <%= image_tag(url_for("green.png")) %>
            <% elsif city.time_status == "Buisness Overtime" %>
              <%= image_tag(url_for("orange.png")) %>
            <% elsif city.time_status == "Personal Time" %>
              <%= image_tag(url_for("red.png")) %>
            <% elsif city.time_status == "Sleeping Time" %>
              <%= image_tag(url_for("sleepy.png")) %>
            <% end %>
          <td>
          <td><span><%= link_to image_tag(url_for("delete.png")), city, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
        <% end %>
      </tr>
    <% end %>

    <h4> <%= link_to image_tag("plus.png"), new_city_path %> Add a city </h4>

  </table>

  
